* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img {
    width: 10rem;
    height: 10rem;
}
.arrange {
    /* background: red; */
    /* margin: 0 auto; */
    margin-left: 50%;
    margin-top: 20%;
}